version: '3.8'

services:
  web:
    build: .
    container_name: api_hango_app
    restart: always
    ports:
      - "5000:5000"
    volumes:
      - .:/app
    env_file:
      - .env

  nginx:
    image: nginx:alpine
    container_name: api_hango_nginx
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - web
